body {
	padding-top: 20px;
	background-color: #e9eaed;
}

.al-profile-picture {
	width:100%;
	max-width:50vw;
}

.al-bio-area {
	padding-left: 40px;
	font-size: 20px;
}

.social-bar {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 25px;
}

.social-button {
	margin-right: 5px;
}

.al-info-panel {
	border-radius: 10px;
	padding: 20px;
	margin: 0px;
	margin-bottom: 20px;
	background-color: #ffffff;
}

.al-project {
	padding-bottom: 30px;
}

h2 {
	margin-top:0px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

main li a {
    margin-bottom: 10px;
    display: inline-block;
}

.offscreen {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.card {
    margin-bottom: 10px;
}

.image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img {
    position:absolute;
}

/* .card .image { */
.card-img-top {
    background-size: cover;
}
